<div class="container col-xs-12 col-sm-8 col-sm-offset-2" style="border:solid;margin-top:3%;background-color:white">
  <div class="nav col-xs-12">
    <h2>Awesome Sauce!</h2>
    <h3>Enter your information below then!</h3><br>
    <h4>If this bag gets at least 1000 people to confirm they want to purchase this bag by Midnight Est Tonight, your account will be deducted. If not, all orders will be cancelled and no money will be transferred </h4>
  </div>
  <div id="main" class="col-xs-12">
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>Email</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>Card Number</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>Exp. Date</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>CID</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>First Name</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="email" class="col-xs-12 col-sm-6">
      <h2>Last Name</h2>
      <h3 class="col-xs-4"><input type="text"></h3>
    </div>
    <div id="confirm" class="col-xs-12 col-sm-6 col-sm-offset-6" style="margin-top: 2%;margin-bottom: 2%;">
      <button class="col-xs-9 btn btn-default">Confirm I Want This
        <style>.btn-default {font-size:20px;font-weight:600;background-color:#eee}.btn-default:hover {background-color: #ddd} </style>
      </button>
    </div>
  </div>
</div>