<div class="container col-xs-12 col-sm-8 col-sm-offset-2" style="border:solid;margin-top:3%;background-color:white">
  <div class="nav col-xs-12">
    <h3>Once a week we list an amazing deal. This deal only lasts 24 hours. And in order for the deal to be accepted for everyone, a minimum number of orders need to be committed to purchase.</h3>
    <h4>We've partnered with luxury brands who don't think we can get 1,000 people to commit to these deals in only 24 hours. They think we're so crazy they've dropped their prices by leaps and bounds just to prove us wrong. We said, challenge accepted!</h4><br><br>
    <h5>This week we are featuring this Louis Vuitton handbag. Normally priced at $1,260, we got it snagged for $800! Commit to buying this, and tell all of your girlfriends and boyfriends who want to keep their girlfriends to commit to buying this.</h5>
  </div>
  <div id="main" class="col-xs-12">
    <div id="title" class="col-xs-12 col-sm-6">
      <h2>Louis Vuitton - Neverfull MM</h2>
      <h3 class="col-xs-4"><s>$1,260.00</s></h3><h1 class="col-xs-4">$800</h1>
    </div>
    <div id="main_image" class="col-xs-12 col-sm-6" style="float:right">
      <img src="https://contents.louisvuitton.com/is/image/lv/1/PP_VP_M/louis-vuitton-neverfull-mm-monogram-canvas-icons--M40995_PM2_Front%20view.jpg?wid=647&hei=647" class="col-xs-12">
    </div>
    <div id="description" class="col-xs-12 col-sm-6">
      <ul>
        <li> Redesigned interior with Louis Vuitton archive details</li>
        <li> Textile-lined inside pocket</li>
        <li> Removable zippered clutch with matching interior</li>
        <li> Natural cowhide leather trim</li>
        <li> Shiny golden brass hardware</li>
      </ul>
    </div>
    <div id="confirm" class="col-xs-12 col-sm-6" style="margin-top:2%">
      <a href="/confirm" class="col-xs-9 col-xs-offset-1 btn btn-default">I Need This!</a>
      <style>.btn-default {font-size:20px;font-weight:600;background-color:#eee}.btn-default:hover {background-color: #ddd} </style>
    </div>
  </div>
</div>